<ons-navigator animation="slide" var="plugins"> 
<ons-page>
  <div class="app-page" ng-controller="pluginsController">
    <div class="app-page-content">
	<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--
  <ons-button modifier="large" ng-click="openWebsite()" style="color: #ff8201">Facebook</ons-button>
    
  -->
      <ons-button modifier="large" ng-click="openWebsite()" style="color: #ff8201">Facebook</ons-button>
      <br>
      
            <ons-button style="color: #ff8201" modifier="large" ng-click="openWebsite2()" >Twitter</ons-button>
      <br>
                 <ons-button modifier="large" ng-click="openWebsite3()">Instagram</ons-button>
      <br>
    
    



    </div>

  </div>
      <div class="bgbox">
        <img src="images/radio/bg.jpg" class="bg">
      </div>
</ons-page>
</ons-navigator> 